Repository kyverno/chainsaw, pull requests merged in 2023-11, with the labels that each got.

#298 fix: exec collector not invoked
  .release-notes/main.md
  pkg/runner/step.go
Labels: release notes required, release notes completed

#328 refactor: renamed flag `stop-on-first-failure` to `fail-fast` (**BREAKING CHANGE**)
  .release-notes/main.md
  pkg/commands/test/command.go
  pkg/commands/test/command_test.go
  website/docs/commands/chainsaw_test.md
Labels: release notes required, release notes completed, documentation required, documentation completed

#345 feat: switch to contextual logging
  pkg/runner/client/client.go
  pkg/runner/client/client_test.go
  pkg/runner/context.go
  pkg/runner/logging/context.go
  pkg/runner/operations/client.go
  pkg/runner/processor/processor.go
  pkg/runner/runner.go
  pkg/runner/step.go
  pkg/runner/test_runner.go
  pkg/runner/timeout/timeout.go
  pkg/runner/timeout/timeout_test.go
Labels: release notes required

#356 feat: add released image provenance
  .github/workflows/release.yaml
Labels: release notes required

#358 feat: implement try/catch/finally
  .crds/chainsaw.kyverno.io_tests.yaml
  .crds/chainsaw.kyverno.io_teststeps.yaml
  pkg/apis/v1alpha1/catch.go
  pkg/apis/v1alpha1/finally.go
  pkg/apis/v1alpha1/test_step_spec.go
  pkg/apis/v1alpha1/zz_generated.deepcopy.go
  pkg/commands/kuttl/migrate/command.go
  pkg/data/crds/chainsaw.kyverno.io_tests.yaml
  pkg/data/crds/chainsaw.kyverno.io_teststeps.yaml
  pkg/discovery/discovery_test.go
  pkg/discovery/load.go
  pkg/discovery/load_test.go
  pkg/runner/processors/step.go
  pkg/step/load_test.go
  pkg/test/load_test.go
  testdata/discovery/invalid-test-and-steps/chainsaw-test.yaml
  testdata/discovery/steps-and-manifests/01-test.yaml
  testdata/discovery/steps/01-test.yaml
  testdata/discovery/test-and-steps/01-test.yaml
  testdata/discovery/test/chainsaw-test.yaml
  testdata/kuttl/01-step.chainsaw.yaml
  testdata/step/multiple.yaml
  testdata/step/ok.yaml
  testdata/step/with-catch.yaml
  testdata/step/with-finally.yaml
  testdata/test/ok.yaml
Labels: release notes required, documentation required

#359 feat: add github action
  .github/actions/install/README.md
  .github/actions/install/action.yml
  .github/workflows/action.yml
  .github/workflows/check-actions.yaml
  .github/workflows/codegen.yaml
  .github/workflows/deploy.yaml
  .github/workflows/lint.yaml
  .github/workflows/tests.yaml
  website/docs/apis/chainsaw.v1alpha1.md
Labels: release notes required, documentation required

#361 fix: expand command args
  pkg/runner/operations/command_output_test.go
  pkg/runner/operations/exec.go
  pkg/runner/operations/exec_test.go
Labels: release notes required

#371 refactor: single file ref in operation
  .crds/chainsaw.kyverno.io_tests.yaml
  .crds/chainsaw.kyverno.io_teststeps.yaml
  pkg/apis/v1alpha1/operation.go
  pkg/apis/v1alpha1/zz_generated.deepcopy.go
  pkg/commands/kuttl/migrate/command.go
  pkg/data/crds/chainsaw.kyverno.io_tests.yaml
  pkg/data/crds/chainsaw.kyverno.io_teststeps.yaml
  pkg/discovery/discovery_test.go
  pkg/discovery/load.go
  pkg/discovery/load_test.go
  pkg/runner/processors/operation.go
  pkg/step/load_test.go
  pkg/test/load_test.go
  testdata/discovery/invalid-test-and-steps/01-test.yaml
  testdata/discovery/invalid-test-and-steps/chainsaw-test.yaml
  testdata/discovery/steps-and-manifests/01-test.yaml
  testdata/discovery/steps/01-test.yaml
  testdata/discovery/test-and-steps/01-test.yaml
  testdata/discovery/test/chainsaw-test.yaml
  testdata/kuttl/01-step.chainsaw.yaml
  testdata/step/custom-step.yaml
  testdata/step/multiple.yaml
  testdata/step/ok.yaml
  testdata/step/with-catch.yaml
  testdata/step/with-finally.yaml
  testdata/test/custom-test.yaml
  testdata/test/ok.yaml
  website/docs/apis/chainsaw.v1alpha1.md
Labels: release notes required, documentation required

#372 refactor: operation api
  .crds/chainsaw.kyverno.io_tests.yaml
  .crds/chainsaw.kyverno.io_teststeps.yaml
  pkg/apis/v1alpha1/apply.go
  pkg/apis/v1alpha1/assert.go
  pkg/apis/v1alpha1/create.go
  pkg/apis/v1alpha1/delete.go
  pkg/apis/v1alpha1/error.go
  pkg/apis/v1alpha1/exec.go
  pkg/apis/v1alpha1/exec_operation.go
  pkg/apis/v1alpha1/operation.go
  pkg/apis/v1alpha1/zz_generated.deepcopy.go
  pkg/data/crds/chainsaw.kyverno.io_tests.yaml
  pkg/data/crds/chainsaw.kyverno.io_teststeps.yaml
  pkg/discovery/discovery_test.go
  pkg/runner/operations/client.go
  pkg/runner/processors/operation.go
  pkg/runner/processors/step.go
  pkg/test/load_test.go
  testdata/step/custom-step.yaml
  testdata/test/custom-test.yaml
  website/docs/apis/chainsaw.v1alpha1.md
Labels: release notes required, documentation required

#385 feat: use assertion trees
  go.mod
  go.sum
  pkg/runner/operations/assert.go
  pkg/runner/operations/assert_test.go
  pkg/runner/operations/error.go
Labels: release notes required, documentation required

#409 feat: add raw resource support
  .crds/chainsaw.kyverno.io_tests.yaml
  .crds/chainsaw.kyverno.io_teststeps.yaml
  .vscode/launch.json
  pkg/apis/v1alpha1/apply.go
  pkg/apis/v1alpha1/create.go
  pkg/apis/v1alpha1/file_ref.go
  pkg/apis/v1alpha1/file_ref_or_resource.go
  pkg/apis/v1alpha1/zz_generated.deepcopy.go
  pkg/commands/kuttl/migrate/command.go
  pkg/data/crds/chainsaw.kyverno.io_tests.yaml
  pkg/data/crds/chainsaw.kyverno.io_teststeps.yaml
  pkg/discovery/discovery_test.go
  pkg/discovery/load.go
  pkg/discovery/load_test.go
  pkg/runner/processors/operation.go
  pkg/step/load_test.go
  pkg/test/load_test.go
  testdata/step/raw-resource.yaml
  testdata/test/raw-resource.yaml
  website/docs/apis/chainsaw.v1alpha1.md
Labels: release notes required, documentation required

#418 feat: add check in operation
  .crds/chainsaw.kyverno.io_tests.yaml
  .crds/chainsaw.kyverno.io_teststeps.yaml
  pkg/apis/v1alpha1/command.go
  pkg/apis/v1alpha1/script.go
  pkg/apis/v1alpha1/zz_generated.deepcopy.go
  pkg/data/crds/chainsaw.kyverno.io_tests.yaml
  pkg/data/crds/chainsaw.kyverno.io_teststeps.yaml
  pkg/runner/operations/apply/apply.go
  pkg/runner/operations/client.go
  pkg/runner/operations/command/command.go
  pkg/runner/operations/command/command_test.go
  pkg/runner/operations/script/script.go
  pkg/runner/operations/script/script_test.go
  website/docs/apis/chainsaw.v1alpha1.md
Labels: release notes required, documentation required

#423 feat: add checks in apply and create
  .crds/chainsaw.kyverno.io_tests.yaml
  .crds/chainsaw.kyverno.io_teststeps.yaml
  pkg/apis/v1alpha1/apply.go
  pkg/apis/v1alpha1/create.go
  pkg/apis/v1alpha1/zz_generated.deepcopy.go
  pkg/data/crds/chainsaw.kyverno.io_tests.yaml
  pkg/data/crds/chainsaw.kyverno.io_teststeps.yaml
  pkg/runner/operations/apply/apply.go
  pkg/runner/operations/apply/apply_test.go
  pkg/runner/operations/client.go
  pkg/runner/operations/create/create.go
  pkg/runner/operations/create/create_test.go
  pkg/runner/processors/operation.go
  testdata/step/custom-step.yaml
  testdata/test/custom-test.yaml
  website/docs/apis/chainsaw.v1alpha1.md
Labels: release notes required, documentation required

#460 feat: add programmatic validation
  .release-notes/main.md
  pkg/internal/loader/default.go
  pkg/step/load.go
  pkg/test/load.go
  pkg/validation/catch.go
  pkg/validation/file_ref.go
  pkg/validation/file_ref_or_resource.go
  pkg/validation/finally.go
  pkg/validation/operation.go
  pkg/validation/test.go
  pkg/validation/test_spec.go
  pkg/validation/test_spec_step.go
  pkg/validation/test_step.go
  pkg/validation/test_step_spec.go
Labels: release notes required, release notes completed, documentation required

#479 fix: kuttl migration failure in case of unsupported name
  .release-notes/main.md
  pkg/commands/kuttl/migrate/command.go
Labels: release notes required, release notes completed

#480 fix: invalid name in kuttl migrate command
  .release-notes/main.md
  pkg/commands/kuttl/migrate/command.go
Labels: release notes required, release notes completed

#481 fix: discovery of manifests in the wrong order
  .release-notes/main.md
  pkg/discovery/discovery_test.go
  pkg/discovery/load.go
  pkg/discovery/load_test.go
Labels: release notes required, release notes completed, documentation required

#483 fix: error manifests discovery error
  .release-notes/main.md
  pkg/discovery/discovery_test.go
  pkg/discovery/load.go
  pkg/discovery/load_test.go
  testdata/discovery/manifests/01-errors.yaml
  testdata/discovery/steps-and-manifests/01-errors.yaml
  testdata/kuttl/01-step.chainsaw.yaml
Labels: release notes required, release notes completed, documentation required

#486 fix: force lower case name in kuttl migrate
  pkg/commands/kuttl/migrate/command.go
Labels: release notes required, release notes completed

#489 feat: add timeout support to catch and finally
  .crds/chainsaw.kyverno.io_tests.yaml
  .crds/chainsaw.kyverno.io_teststeps.yaml
  .release-notes/main.md
  pkg/apis/v1alpha1/catch.go
  pkg/apis/v1alpha1/finally.go
  pkg/apis/v1alpha1/zz_generated.deepcopy.go
  pkg/data/crds/chainsaw.kyverno.io_tests.yaml
  pkg/data/crds/chainsaw.kyverno.io_teststeps.yaml
  pkg/runner/processors/step.go
  website/docs/apis/chainsaw.v1alpha1.md
Labels: release notes required, release notes completed, documentation required

#495 feat: add check and matched check
  .crds/chainsaw.kyverno.io_tests.yaml
  .crds/chainsaw.kyverno.io_teststeps.yaml
  .release-notes/main.md
  pkg/apis/v1alpha1/apply.go
  pkg/apis/v1alpha1/check.go
  pkg/apis/v1alpha1/command.go
  pkg/apis/v1alpha1/create.go
  pkg/apis/v1alpha1/matched_check.go
  pkg/apis/v1alpha1/operation.go
  pkg/apis/v1alpha1/script.go
  pkg/apis/v1alpha1/zz_generated.deepcopy.go
  pkg/data/crds/chainsaw.kyverno.io_tests.yaml
  pkg/data/crds/chainsaw.kyverno.io_teststeps.yaml
  pkg/runner/operations/apply/apply.go
  pkg/runner/operations/apply/apply_test.go
  pkg/runner/operations/create/create.go
  pkg/runner/operations/create/create_test.go
  website/docs/apis/chainsaw.v1alpha1.md
Labels: release notes required, release notes completed, documentation required

#498 chore: add command and script log
  .release-notes/main.md
  pkg/runner/operations/command/command.go
  pkg/runner/operations/script/script.go
  testdata/kuttl/01-step.chainsaw.yaml
  testdata/kuttl/02-step.chainsaw.yaml
Labels: release notes required, release notes completed

#497 feat: improve checks in api
  .crds/chainsaw.kyverno.io_tests.yaml
  .crds/chainsaw.kyverno.io_teststeps.yaml
  .release-notes/main.md
  pkg/apis/v1alpha1/apply.go
  pkg/apis/v1alpha1/check.go
  pkg/apis/v1alpha1/command.go
  pkg/apis/v1alpha1/create.go
  pkg/apis/v1alpha1/delete.go
  pkg/apis/v1alpha1/expectation.go
  pkg/apis/v1alpha1/script.go
  pkg/apis/v1alpha1/zz_generated.deepcopy.go
  pkg/data/crds/chainsaw.kyverno.io_tests.yaml
  pkg/data/crds/chainsaw.kyverno.io_teststeps.yaml
  pkg/runner/operations/apply/apply.go
  pkg/runner/operations/apply/apply_test.go
  pkg/runner/operations/create/create.go
  pkg/runner/operations/create/create_test.go
  pkg/runner/operations/delete/delete.go
  pkg/runner/processors/step.go
  pkg/runner/processors/test.go
  pkg/runner/processors/tests.go
  pkg/validation/apply.go
  pkg/validation/check.go
  pkg/validation/command.go
  pkg/validation/create.go
  pkg/validation/delete.go
  pkg/validation/expectations.go
  pkg/validation/script.go
  testdata/kuttl/01-step.chainsaw.yaml
  testdata/kuttl/02-step.chainsaw.yaml
  testdata/step/custom-step.yaml
  website/docs/apis/chainsaw.v1alpha1.md
Labels: release notes required, release notes completed, documentation required

#502 feat: use bindings in checks
  .release-notes/main.md
  go.mod
  pkg/runner/operations/apply/apply.go
  pkg/runner/operations/apply/apply_test.go
  pkg/runner/operations/command/command.go
  pkg/runner/operations/create/create.go
  pkg/runner/operations/create/create_test.go
  pkg/runner/operations/delete/delete.go
  pkg/runner/operations/script/script.go
Labels: release notes required, release notes completed, documentation required

#448 feat: Add report Part-2
  pkg/report/report.go
  pkg/report/report_test.go
  pkg/runner/processors/operation.go
  pkg/runner/processors/step.go
  pkg/runner/processors/test.go
  pkg/runner/processors/tests.go
  pkg/runner/run.go
Labels: release notes required, documentation required

#513 feat: add force grace termination period support
  .crds/chainsaw.kyverno.io_configurations.yaml
  .release-notes/main.md
  pkg/apis/v1alpha1/configuration_spec.go
  pkg/apis/v1alpha1/zz_generated.deepcopy.go
  pkg/commands/test/command.go
  pkg/commands/test/command_test.go
  pkg/config/load_test.go
  pkg/data/crds/chainsaw.kyverno.io_configurations.yaml
  pkg/runner/processors/step.go
  testdata/commands/test/all_flags.txt
  testdata/config/custom-config.yaml
  website/docs/apis/chainsaw.v1alpha1.md
  website/docs/commands/chainsaw_test.md
Labels: release notes required, release notes completed, documentation required

#537 docs: Roadmap.md
  README.md
  ROADMAP.md
Labels: documentation required

#536 feat: allow extend kyverno-json function caller
  .release-notes/main.md
  go.mod
  go.sum
  pkg/runner/check/check.go
  pkg/runner/check/functions/env.go
  pkg/runner/check/functions/functions.go
Labels: release notes required, documentation required

#540 feat: use expect in delete op
  .crds/chainsaw.kyverno.io_tests.yaml
  .crds/chainsaw.kyverno.io_teststeps.yaml
  .release-notes/main.md
  pkg/apis/v1alpha1/delete.go
  pkg/apis/v1alpha1/zz_generated.deepcopy.go
  pkg/data/crds/chainsaw.kyverno.io_tests.yaml
  pkg/data/crds/chainsaw.kyverno.io_teststeps.yaml
  pkg/runner/operations/delete/delete.go
  pkg/runner/operations/delete/delete_test.go
  pkg/runner/processors/step.go
  pkg/runner/processors/test.go
  pkg/runner/processors/tests.go
  pkg/validation/delete.go
  testdata/e2e/quick-start/delete/chainsaw-test.yaml
  website/docs/apis/chainsaw.v1alpha1.md
Labels: release notes required, release notes completed, documentation required

#541 feat: add inline assert and error support
  .crds/chainsaw.kyverno.io_tests.yaml
  .crds/chainsaw.kyverno.io_teststeps.yaml
  .release-notes/main.md
  pkg/apis/v1alpha1/apply.go
  pkg/apis/v1alpha1/assert.go
  pkg/apis/v1alpha1/error.go
  pkg/apis/v1alpha1/zz_generated.deepcopy.go
  pkg/commands/kuttl/migrate/command.go
  pkg/data/crds/chainsaw.kyverno.io_tests.yaml
  pkg/data/crds/chainsaw.kyverno.io_teststeps.yaml
  pkg/discovery/discovery_test.go
  pkg/discovery/load.go
  pkg/discovery/load_test.go
  pkg/runner/processors/step.go
  pkg/step/load_test.go
  pkg/test/load_test.go
  pkg/validation/assert.go
  pkg/validation/error.go
  pkg/validation/operation_test.go
  pkg/validation/test_step_spec_test.go
  pkg/validation/test_step_test.go
  pkg/validation/test_test.go
  testdata/e2e/quick-start/inline/chainsaw-test.yaml
  testdata/e2e/quick-start/inline/configmap-assert.yaml
  website/docs/apis/chainsaw.v1alpha1.md
Labels: release notes required, release notes completed, documentation required

#545 feat: add command to generate test docs
  .release-notes/main.md
  go.mod
  go.sum
  pkg/commands/generate/command.go
  pkg/commands/generate/docs/command.go
  pkg/commands/generate/docs/docs.tmpl
  pkg/commands/root.go
  testdata/commands/help.txt
  testdata/e2e/quick-start/basic/README.md
  testdata/e2e/quick-start/delete/README.md
  testdata/e2e/quick-start/inline/README.md
  testdata/e2e/quick-start/timeout/README.md
  website/docs/commands/chainsaw.md
  website/docs/commands/chainsaw_generate.md
  website/docs/commands/chainsaw_generate_docs.md
Labels: release notes required, release notes completed, documentation required

#550 fix: make timeouts fields pointers
  .release-notes/main.md
  pkg/apis/v1alpha1/test_spec.go
  pkg/apis/v1alpha1/test_step_spec.go
  pkg/apis/v1alpha1/timeouts.go
  pkg/apis/v1alpha1/zz_generated.deepcopy.go
  pkg/commands/kuttl/migrate/tests/command.go
  pkg/commands/test/command.go
  pkg/runner/processors/step.go
  pkg/runner/processors/test.go
  pkg/runner/processors/tests.go
  pkg/runner/timeout/timeout.go
  pkg/runner/timeout/timeout_test.go
  testdata/commands/kuttl/migrate/tests/out.txt
  testdata/commands/test/all_flags.txt
  testdata/commands/test/config_all_fields.txt
  testdata/commands/test/default.txt
  testdata/commands/test/with_regex.txt
  testdata/commands/test/with_repeat_count.txt
  testdata/commands/test/with_suppress.txt
  testdata/commands/test/with_test_dirs.txt
  testdata/commands/test/with_timeout.txt
  testdata/kuttl/chainsaw-test.yaml
  website/docs/apis/chainsaw.v1alpha1.md
Labels: release notes required, release notes completed, documentation required
