Repository kyverno/chainsaw, pull requests merged in 2023-10, with the labels that each got.

#195 feat: support config of parallel tests
  .crds/chainsaw.kyverno.io_tests.yaml
  pkg/apis/v1alpha1/test_spec.go
  pkg/apis/v1alpha1/zz_generated.deepcopy.go
  pkg/data/crds/chainsaw.kyverno.io_tests.yaml
  pkg/runner/runner.go
  website/docs/apis/chainsaw.v1alpha1.md
Labels: release notes required

#197 refactor: logger
  pkg/runner/client/client.go
  pkg/runner/logging/logger.go
  pkg/runner/logging/operation.go
  pkg/runner/logging/step.go
  pkg/runner/logging/test.go
  pkg/runner/operations/apply.go
  pkg/runner/operations/assert.go
  pkg/runner/operations/delete.go
  pkg/runner/operations/error.go
  pkg/runner/runner.go
Labels: release notes required

#207 fix: improve cli docs
  .release-notes/main.md
  Makefile
  hack/docs/cmd/main.go
  pkg/commands/docs/command.go
  pkg/commands/docs/command_test.go
  pkg/commands/docs/options.go
  pkg/commands/docs/utils.go
  pkg/commands/root.go
  pkg/commands/test/command.go
  pkg/commands/version/command.go
  website/docs/commands/chainsaw.md
  website/docs/commands/chainsaw_completion.md
  website/docs/commands/chainsaw_completion_bash.md
  website/docs/commands/chainsaw_completion_fish.md
  website/docs/commands/chainsaw_completion_powershell.md
  website/docs/commands/chainsaw_completion_zsh.md
  website/docs/commands/chainsaw_docs.md
  website/docs/commands/chainsaw_test.md
  website/docs/commands/chainsaw_version.md
  website/mkdocs.yaml
Labels: release notes required, release notes completed

#210 refactor: improve logger
  pkg/runner/client/client.go
  pkg/runner/logging/logger.go
  pkg/runner/logging/operation.go
  pkg/runner/operations/apply.go
  pkg/runner/operations/error.go
  pkg/runner/runner.go
Labels: release notes required, release notes completed

#211 feat: allow overriding test namespace
  .crds/chainsaw.kyverno.io_configurations.yaml
  .crds/chainsaw.kyverno.io_tests.yaml
  .release-notes/main.md
  pkg/apis/v1alpha1/configuration_spec.go
  pkg/apis/v1alpha1/test_spec.go
  pkg/data/crds/chainsaw.kyverno.io_configurations.yaml
  pkg/data/crds/chainsaw.kyverno.io_tests.yaml
  pkg/runner/runner.go
  website/docs/apis/chainsaw.v1alpha1.md
Labels: release notes required, release notes completed

#214 fix: kuttl migration error
  .release-notes/_template.md
  .release-notes/main.md
  pkg/commands/kuttl/migrate/command.go
Labels: release notes required, release notes completed, documentation required

#213 feat: support commands
  .crds/chainsaw.kyverno.io_tests.yaml
  .crds/chainsaw.kyverno.io_teststeps.yaml
  pkg/apis/v1alpha1/command.go
  pkg/apis/v1alpha1/test_step_spec.go
  pkg/apis/v1alpha1/zz_generated.deepcopy.go
  pkg/data/crds/chainsaw.kyverno.io_tests.yaml
  pkg/data/crds/chainsaw.kyverno.io_teststeps.yaml
  pkg/runner/namespacer/namespacer.go
  pkg/runner/operations/command.go
  pkg/runner/step.go
  pkg/runner/timeout.go
  website/docs/apis/chainsaw.v1alpha1.md
Labels: release notes required, documentation required

#222 refactor: script and commands
  .crds/chainsaw.kyverno.io_tests.yaml
  .crds/chainsaw.kyverno.io_teststeps.yaml
  pkg/apis/v1alpha1/collect.go
  pkg/apis/v1alpha1/collector.go
  pkg/apis/v1alpha1/command.go
  pkg/apis/v1alpha1/events.go
  pkg/apis/v1alpha1/exec.go
  pkg/apis/v1alpha1/exec_operation.go
  pkg/apis/v1alpha1/on_failure.go
  pkg/apis/v1alpha1/pod_logs.go
  pkg/apis/v1alpha1/script.go
  pkg/apis/v1alpha1/test_step_spec.go
  pkg/apis/v1alpha1/zz_generated.deepcopy.go
  pkg/data/crds/chainsaw.kyverno.io_tests.yaml
  pkg/data/crds/chainsaw.kyverno.io_teststeps.yaml
  pkg/runner/collect.go
  pkg/runner/operations/command.go
  pkg/runner/operations/exec.go
  pkg/runner/step.go
  pkg/runner/timeout.go
  website/docs/apis/chainsaw.v1alpha1.md
Labels: release notes required, release notes completed, documentation required

#227 feat: add coloured output
  .release-notes/main.md
  go.mod
  go.sum
  pkg/commands/test/command.go
  pkg/runner/client/client.go
  pkg/runner/logging/l.go
  pkg/runner/operations/apply.go
  pkg/runner/operations/assert.go
  pkg/runner/operations/delete.go
  pkg/runner/operations/error.go
  pkg/runner/operations/exec.go
  pkg/runner/runner.go
  pkg/runner/step.go
  website/docs/commands/chainsaw_test.md
Labels: release notes required, release notes completed

#231 fix: improve kuttl migrate command
  .crds/chainsaw.kyverno.io_configurations.yaml
  .release-notes/main.md
  pkg/apis/v1alpha1/configuration_spec.go
  pkg/apis/v1alpha1/zz_generated.deepcopy.go
  pkg/commands/kuttl/migrate/command.go
  pkg/commands/test/command.go
  pkg/config/load_test.go
  pkg/data/crds/chainsaw.kyverno.io_configurations.yaml
  pkg/runner/flags.go
  testdata/commands/test/config_all_fields.txt
  testdata/commands/test/default.txt
  testdata/commands/test/with_regex.txt
  testdata/commands/test/with_repeat_count.txt
  testdata/commands/test/with_suppress.txt
  testdata/commands/test/with_test_dirs.txt
  testdata/commands/test/with_timeout.txt
  website/docs/apis/chainsaw.v1alpha1.md
  website/docs/commands/chainsaw_kuttl_migrate.md
  website/docs/commands/chainsaw_test.md
Labels: release notes required, release notes completed

#241 feat: add should fail support in apply
  .crds/chainsaw.kyverno.io_tests.yaml
  .crds/chainsaw.kyverno.io_teststeps.yaml
  .release-notes/main.md
  pkg/apis/v1alpha1/apply.go
  pkg/apis/v1alpha1/zz_generated.deepcopy.go
  pkg/data/crds/chainsaw.kyverno.io_tests.yaml
  pkg/data/crds/chainsaw.kyverno.io_teststeps.yaml
  pkg/runner/operations/apply.go
  pkg/runner/step.go
  website/docs/apis/chainsaw.v1alpha1.md
Labels: release notes required, release notes completed, documentation required

#274 bug: resouce nil not checked
  pkg/runner/namespacer/namespacer.go
Labels: release notes required

#281 feat: revisit timeouts
  .crds/chainsaw.kyverno.io_configurations.yaml
  .crds/chainsaw.kyverno.io_tests.yaml
  .crds/chainsaw.kyverno.io_teststeps.yaml
  .release-notes/main.md
  pkg/apis/v1alpha1/configuration_spec.go
  pkg/apis/v1alpha1/test_spec.go
  pkg/apis/v1alpha1/test_step_spec.go
  pkg/apis/v1alpha1/timeouts.go
  pkg/apis/v1alpha1/zz_generated.deepcopy.go
  pkg/commands/kuttl/migrate/command.go
  pkg/commands/test/command.go
  pkg/commands/test/command_test.go
  pkg/config/load_test.go
  pkg/data/crds/chainsaw.kyverno.io_configurations.yaml
  pkg/data/crds/chainsaw.kyverno.io_tests.yaml
  pkg/data/crds/chainsaw.kyverno.io_teststeps.yaml
  pkg/runner/step.go
  pkg/runner/timeout.go
  pkg/runner/timeout_test.go
  testdata/commands/test/config/config_all_fields.yaml
  testdata/commands/test/config_all_fields.txt
  testdata/commands/test/default.txt
  testdata/commands/test/with_regex.txt
  testdata/commands/test/with_repeat_count.txt
  testdata/commands/test/with_test_dirs.txt
  testdata/commands/test/with_timeout.txt
  testdata/config/custom-config.yaml
  testdata/config/multiple.yaml
  website/docs/apis/chainsaw.v1alpha1.md
  website/docs/commands/chainsaw_test.md
Labels: release notes required, documentation required
